@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Grenze:wght@300;400;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "archivo black", sans-serif;
}
body {
  position: relative;
}
.leftcard {
  width: 460px;
  height: 530px;
  background: rgb(194, 53, 63);
  border-radius: 25px;
  position: absolute;
  top: 150px;
  left: 400px;
  z-index: 1;
  overflow: hidden;
}
.starword-title {
  width: 500px;
  height: 300px;
  transform: rotate(-90deg);
  position: absolute;
  top: 120px;
  right: 85px;
  opacity: 0.1;
}
.helmet-pic {
  z-index: 3;
  position: absolute;
  top: 240px;
  left: 520px;
}
.rightcard {
  width: 650px;
  height: 450px;
  background-color: rgb(27, 30, 58);
  border-radius: 25px;
  position: absolute;
  top: 190px;
  left: 640px;
  z-index: 2;
}
h2 {
  font-size: 40px;
  margin-top: 50px;
  margin-left: 220px;
  font-weight: bold;
  color: white;
}
.helmet-price {
  font-size: 35px;
  padding-left: 220px;
  color: white;
  font-family: sans-serif;
}
.helmet-size {
  width: 170px;
  height: 120px;
  position: absolute;
  left: 220px;
  border-right: 1px solid rgb(203, 33, 64);
  margin-top: 30px;
}
h6 {
  font-size: 14px;
  padding-top: 30px;
  color: white;
  letter-spacing: 2px;
  font-family: sans-serif;
}
ul li {
  list-style-type: none;
  display: inline-block;
  color: white;
  padding-left: 9px;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  padding-top: 5px;
  font-family: sans-serif;
}
.small {
  border: 1px solid rgb(203, 33, 64);
  border-radius: 50%;
}
button {
  all: unset;
  width: 150px;
  height: 45px;
  background-color: rgb(203, 33, 64);
  text-align: center;
  border-radius: 40px;
  position: absolute;
  right: 95px;
  bottom: 150px;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
}
